<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/plugins/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/result.css"> -->

    <title>Indian Food Classifier</title>
   
</head> 

<body>

    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark">
    
  <!--   <div class="d-flex order-0
    "> -->
    <a class="navbar-brand navbar-header" href="/"> <i class="fa fa-cutlery" aria-hidden="true"></i> Indian Food Classifier</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<!-- </div> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
    
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#about-project" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
          About our project
        </a>
        <div id="dropdown_menu" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#motivation">Motivation</a>
          <a class="dropdown-item" href="#timeline_chart">Timeline</a>
          <a class="dropdown-item" href="#members">Members</a>
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#members"> Contact us <span class="sr-only">(current)</span></a>
        </li>
     
    </ul>
  </div>
</nav>
