<section class="parallax-image" id="about-project">
    <header>
        <div class="container">
            <nav>
            <div>
                <h1 class="display-1 highlight fade-in">About Project</h1>
            </div>
            </nav>           
        </div>
        
    </header>
            <section id="main">
                <div class="container">

                        <div class="row">
                          <div class="col-lg-5">
                            <div id="main-col" class="card slide-in from-right">
                              <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">
                                
                                  
                                     This website’s objective is to classify Indian food images and build its dataset.The application accepts a food image taken from a regular source like a Smartphone camera, classifies and retrieves a known Indian food category. The classification results are retrieved from flask API containing data from CNN model.
 

                                 </p>
                
                               
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-1"></div>

                          <div class="col-lg-5">
                            <div id="sidebar" class="card slide-in from-left">
                              <div class="card-body dark">
                                <h3 class="card-title">Simple for users</h3>
                                <p class="card-text">
                                    
                                            <ul id="users_box">
                                                <li>Drag and drop images on the website and using the CNN model, food images will be labeled.</li>
                                                <li>A new category will be created for those images in the database if the user uploads images other than the ones the CNN model is trained for. </li>
                                                <li> User can give his/her feedback if the model classifies the image inaccurately.</li>
                    
                                             </ul> 
                                </p>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                </div>
            </section>
</section>