<!--  
<section class="parallax-image d-flex flex-column" id="about-project">

            <div class="container">

                <div class="row ">
                    <div class="col-8 m-auto slide-in from-right">
                    		<div class="display-2">About Project</div> 
                    </div>
                </div>
                <p>
                <div class="row">
                	<div class="content col-md fade-in">
                    			<p>In this proposal ,we focus on</p>
                                <ul>
                                    <li>building Indian food Image dataset</li>
                                    <li>realizing an application which accepts a food
                                    image taken from a regular source like a Smartphone
                                    camera, classifies and retrieves a known Indian food
                                    category.</li>
                                </ul>

                        
                    </div>
<div class="col-md fade-in">
	<img src="https://freesvg.org/img/Gerald_G_Fast_Food_Lunch_Dinner_%28FF_Menu%29_18.png">

</div>

                    		</div>

                    
                    </div>
                </div>
            </div>
</section>    
   -->
<section class="parallax-image" id="about-project">
    <header>
        <div class="container">
            <nav>
            <div>
                <h1 class="display-1 highlight slide-in from-right">About Project</h1>
            </div>
            </nav>



            
        </div>
   
    </header>
     <section id="main">
       <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
            <article id="main-col">
                <p>
                   This website’s objective is to classify Indian food images and build its dataset.The application accepts a food image taken from a regular source like a Smartphone camera, classifies and retrieves a known Indian food category. The classification results are retrieved from flask API containing data from CNN model.
 

                </p>
                
            </article>
            </div>
            <div class="col-xs-6 col-md-4">
            <aside id="sidebar">
                <div class="dark">
                <h3 class="headings">Simple for users</h3>
                <p>
                    <ul id="users_box">
                        <li>Drag and drop images on the website and using the CNN model, food images will be labeled.</li>
                        <li>A new category will be created for those images in the database if the user uploads images other than the ones the CNN model is trained for. </li>
                        <li> User can give his/her feedback if the model classifies the image inaccurately.</li>
                    
                    </ul> 
                </p>
                </div>
                
            </aside>
            </div>
            
        </div>    
        </div>
        
    </section>
    
</section>  