<link rel="stylesheet" type="text/css" href="/stylesheets/about_project.css">
<div class="parallax-image" id="about-project">
            <div class="container">
                <div class="row ">
                    <div class="col-8 m-auto slide-in from-right">
                    	<!-- <div class="container"> included w3-animate-right in below div class-->
                    		<div class="display-1 justify-content-md-center">About Project
                    		</div> 
                    </div>
                </div><p>
                <div class="row">
                	<div class="col-md fade-in">
                    			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor diam fringilla neque laoreet, a euismod mauris ornare. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Pellentesque malesuada pharetra porttitor. Pellentesque ut semper ex, ac pharetra sapien. Cras non posuere ante.

Morbi venenatis pellentesque neque et elementum. Proin scelerisque facilisis est sed condimentum. Maecenas ullamcorper interdum quam nec vestibulum. Integer dictum pulvinar finibus. Duis auctor orci ac sodales porttitor. Cras et viverra ante. Aliquam egestas nec nisi in congue. Pellentesque quis suscipit tellus. Morbi finibus diam eget laoreet volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et vulputate dui. Fusce laoreet turpis dapibus ipsum luctus luctus. Suspendisse fringilla magna ultrices iaculis finibus. Proin a sem aliquet, egestas lectus a, pellentesque justo. Pellentesque rutrum luctus mauris a dapibus.
</div>
<div class="col-md fade-in">
	<img src="https://freesvg.org/img/Gerald_G_Fast_Food_Lunch_Dinner_%28FF_Menu%29_18.png">

</div>
<!-- <div class="col">
	<img src="https://freesvg.org/img/johnny_automatic_soup_tureen.png">
</div> -->
<!-- div class="col">
	<img src="https://image.flaticon.com/icons/svg/706/706265.svg">
</div> -->

                    		</div>

                    	<!-- </div> -->
                        
                    </div>
                </div>
            </div>
</div>    
  