<div class="parallax-image" id="food-categories">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-8 m-auto slide-in from-right">
                    	<!-- <div class="container"> included w3-animate-right in below div class-->
                    		<div class="display-1">Food Categories</div> 
                    	   </div>
                    </div><p>
                <div class="row">
                	<div class="col fade-in">
                    			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor diam fringilla neque laoreet, a euismod mauris ornare. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Pellentesque malesuada pharetra porttitor. Pellentesque ut semper ex, ac pharetra sapien. Cras non posuere ante.
</div>
<div class="col fade-in">
	<img src="https://freesvg.org/img/Gerald_G_Fast_Food_Lunch_Dinner_%28FF_Menu%29_18.png">

</div>
<!-- <div class="col">
	<img src="https://freesvg.org/img/johnny_automatic_soup_tureen.png">
</div> -->
<!-- div class="col">
	<img src="https://image.flaticon.com/icons/svg/706/706265.svg">
</div> -->

                    		</div>

                    	<!-- </div> -->
                        
                    </div>
                </div>
            </div>
</div>    
  