
<link rel="stylesheet" type="text/css" href="/stylesheets/members.css">
<section class="parallax-image" id="members">
    <header>
        <div class="container">
            <nav> 
            <div>
                <h1 class="display-1 highlight fade-in">Members</h1>
            </div>
            </nav>           
        </div>
        
    </header>

        <section>              
          <div class="container-fluid">
            <div class='row'>
              <div class="col-md-1"></div>
              <div class="col-md-2 profile text-center">
                  <div class="img-box">
                    <img class="rounded img-responsive img-thumbnail" src = "../images/members/abid.jpg">
                    <ul>
                         <a target="_blank" href="https://www.instagram.com/abid6270/?igshid=10zs5ox28zsda">
                          <li class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></li>
                        </a>

                         <a target="_blank" href="https://www.linkedin.com/in/abidqahmad/">
                          <li class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                        </a>
              
                    </ul>
                  </div>
                  <h2>Abid Ahmad</h2>
                  <h3>IT Student</h3>
                  <p>Symbiosis Institute of Technology</p>
              </div>


               <div class="col-md-2 profile text-center">
                  <div class="img-box">
                    <img class="rounded img-responsive img-thumbnail" src = "../images/members/hrushika.jpg">
                    <ul>
                         <a target="_blank" href="https://www.instagram.com/hs_shooting_star/?igshid=17g98m44zkj79">
                          <li class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></li>
                        </a>

                         <a target="_blank" href="https://www.linkedin.com/in/hrushikasherekar16/">
                          <li class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                        </a>
              
                    </ul>
                  </div>
                  <h2>Hrushika Sherekar</h2>
                  <h3>Student</h3>
                  <p>Symbiosis Institute of Technology</p>
              </div>

               <div class="col-md-2 profile text-center">
                  <div class="img-box">
                    <img class="rounded img-responsive img-thumbnail" src = "../images/members/rachana.jpg">
                    <ul>
                         <a target="_blank" href="https://www.instagram.com/rachikr/?igshid=16k3odie1qngh">
                          <li class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></li>
                        </a>

                         <a target="_blank" href="https://www.linkedin.com/in/rachanadevi18/">
                          <li class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                        </a>

              
                    </ul>
                  </div>
                  <h2>Rachana Devi</h2>
                  <h3>IT Student</h3>
                  <p>Symbiosis Institute of Technology</p>
              </div>

               <div class="col-md-2 profile text-center">
                  <div class="img-box">
                    <img class="rounded img-responsive img-thumbnail" src = "../images/members/shilpika.jpg">
                    <ul>
                         <a target="_blank" href="https://www.instagram.com/shilpikashetty/?igshid=adeh2u9sb5qt">
                          <li class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></li>
                        </a>

                         <a target="_blank" href="https://www.linkedin.com/in/shilpika-shetty-36909516b/">
                          <li class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                        </a>

                    
              
                    </ul>
                  </div>
                  <h2>Shilpika Shetty</h2>
                  <h3>IT Student</h3>
                  <p>Symbiosis Institute of Technology</p>
              </div>

               <div class="col-md-2 profile text-center">
                  <div class="img-box">
                    <img class="rounded img-responsive img-thumbnail" src = "../images/members/female_icon.jpg">
                    <ul>
                         <a href="#">
                          <li class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></li>
                        </a>

                         <a href="#">
                          <li class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                        </a>

              
                    </ul>
                  </div>
                  <h2>Prachi Kadam</h2>
                  <h3>Assistant Professor/ Mentor</h3>
                  <p>Symbiosis Institute of Technology</p>
              </div>

              
            </div>  
           
          </div>
        </section>
</section>