<section class="parallax-image" id="motivation">
    <header>
        <div class="container">
            <nav>
            <div>
                <h1 class="display-1 highlight fade-in">Motivation</h1>
            </div>
            </nav>           
        </div>
        
    </header>
            <section class="main">
                <div class="container">

                        <div class="row">
                          <div class="col-lg-8">
                            <div class="main-col card fade-in">
                              <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">
                                
                                   <p class="subheading">There is a total of 31 cuisines in India alone and the number of Indian dishes is countless. Till now <span class="highlight">no applications have been developed to identify Indian food images.</span>
                                   </p>


                                   <p>
                                   Applications available ask users to input the name of the food item, the quantity consumed and then the number of calories consumed is calculated.
                                   </p>
                                   
                                   <p>
                                   Research going on in the identification of food items is very rudimentary and hence we decided to take up this project.
                                   </p>

                                 </p>
                
                               
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 col-sm-6 card border-dark">


                              <div class="row slide-in from-right">
                                  <div class="col-md-5">
                                    <img src="../images/samosa.jpg" class="card-img-top rounded-circle">
                                  </div>

                                  <div class="col-md-5">
                                    <img src="../images/curry.jpg" class="card-img-top rounded-circle">
                                  </div>
                              </div>


                                <div class="row slide-in from-left">

                                  <div class="col-md-5">
                                    <img src="../images/dosa.jpg" class="card-img-top rounded-circle ">
                                  </div>

                                   <div class="col-md-5">
                                     <img src="../images/chicken_curry.jpg" class="card-img-top rounded-circle float-right">
                                     
                                    </div>
                                </div>

                                 <div class="row slide-in from-right">
                                    <div class="col-md-5">
                                        <img src="../images/indian_food_plate_3.jpg" class="card-img-top rounded-circle float-right">
                                    </div>

                                     <div class="col-md-5">
                                       <img src="../images/indian_food_plate_4.jpg" class="card-img-top rounded-circle float-right">
                                      
                                       
                                      </div>
                                  </div>


                                  <div class="row slide-in from-left">
                                     <div class="col-md-5">
                                       <img src="../images/indian_food_plate_2.jpg" class="card-img-top rounded-circle">
                                     
                                     </div>
                                      <div class="col-md-5">
                                       <img src="../images/indian_food_plate_5.jpg" class="card-img-top rounded-circle">
                                     
                                     </div>
                                  </div>


                           



                            
                            
                          </div> 


                </div>
            </section>
</section>