<%- include ("partials/header") %>


<div class="row ">
	<div class="col-lg-6 card border-dark" style="width: 70rem;">
	  <img src="/image/<%=file.filename%>" class="card-img-top rounded float-right" alt="...">
	 </div> 
		  <div class="card border-dark col-lg-3">
		    <h5 class="card-title">Classification results</h5>
		    <div class="card-text alert alert-success" role="alert">
  			The result is Samosa.
			</div>

			
			<div class="stats">
			<span>Samosa :</span>
			<div class="progress">
		   
  				<div class="progress-bar" role="progressbar" style="width: 50%;opacity:50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
  				    50%
  				</div>
			
			</div>
			</div>


			<div class="stats">
				<span>Samosa :</span>
			<div class="progress">
				<div id="progress-f" class="progress-bar" role="progressbar" style="width: 25%;opacity:25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
  				    25%
  				</div>
			</div>
			</div>


		<div class="stats">
			<span>Samosa :</span>
		     <div class="progress">
  				<div class="progress-bar" style="width:0%;opacity:0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%
  				</div>
			</div>
		</div>	
			
			
		   <div>
		   <div class="alert">
  				Is the prediction correct?
			</div>	
				<div class="row alert">

				<div class="col">
					    <a href="#" class="btn btn-block btn-success">Yes</a>
				</div>
				<div class="col">
					    <a href="#" class="btn btn-block btn-danger">No</a>
				</div>		    
		    	</div>

		  </div>
		</div>
</div>

<%- include ("partials/footer") %>