<%- include ("partials/header") %>

  <div class="container">
    <div class="row">
      
      <div class="col-md-3">
        <div class="list-group">
          
          <li class="list-group-item active">Item</li>
          <li class="list-group-item">Item</li>
          <li class="list-group-item">Item</li>          
        </div>
      </div>
      
      <div class="col-md-9">
        
            
            <img class="img-responsive" src ="">
            
            <div class="caption-full">
              <h4 class="pull-right">$9.00/night</h4>
              <h4><a>Link to the campground</a></h4>
               <p> The campground description</p>
               <p>
                   <em>Submitted By </em>
               </p>
            </div>
            
            
          </div>
          
          <div class="well">
            <div class="text-right">
              <a class="btn btn-success" href="">Add New Comment</a>
            </div>
             
             <hr>
             
              
                  <div class="row">
                    
                    <div class="col-md-12">
                      
                       
                       <span class="pull-right">10 days Ago</span>
                        <p></p>
                       
                    </div>
                    
                  </div>
                 
              
           
          </div>
        
      </div>
    </div>
  </div>   
  
  
  
 
  
  <p>
    
  </p>
