<%- include ("partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/result.css">

<script src="/scripts/result_no.js" defer></script>
<div class="row ">
	<div class="col-lg-6 card border-dark" style="width: 70rem;">
	  <img src="/image/<%=file%>" class="card-img-top rounded float-right" alt="...">
	 </div> 
		  <div class="card border-dark col-lg-3">
		    <h5 class="card-title">Classification results</h5>
		    <form>

		    <div class="form-check custom-control custom-radio">
				  <input class="form-check-input" type="radio" name="radios" id="exampleadios1" value="option1">
				  <label class="form-check-label" for="exampleRadios1">
				    First radio
				  </label>
			</div>

			<div class="form-check custom-control custom-radio">
				  <input class="form-check-input" type="radio" name="radios" id="exampleRadios2" value="option2">
				  <label class="form-check-label" for="exampleRadios2">
				    Second radio
				  </label>
			</div>

		    <div class="form-check custom-control custom-radio">
				  <input class="form-check-input" type="radio" name="radios" id="exampleRadios3" value="other_option">
				  <label class="form-check-label" for="exampleRadios3">
				    Other
				  </label>

				  <div id="other_option" style="display:none">
				  	<input type="text" class="form-control"/>
				  </div>
			</div>
			<div class="row alert">

				<div class="col">
					  
				</div>
				<div class="col">
				        <% console.log(file); %>
					    <a href="/result/<%=file.filename%>/no" class="btn btn-block btn-primary">Confirm</a>
				</div>		    
		    	</div>
		    </div>
		    </form>	
			
			


		
			
		
		  </div>
</div>

<%- include ("partials/footer") %>