<section id="timeline_chart" class="parallax-image">
  <header>
        <div class="container">
            <nav> 
            <div>
                <h1 class="display-1 highlight fade-in">Timeline</h1>
            </div>
            </nav>           
        </div>    
    </header>


<div class="container-fluid">
  <section class="timeline">
    <div class="row">
    <ol>
      <li class="col slide-in from-left">
        <div>
          <time>Jan 2020</time>Team proposal with the mentor and topic selection.
        </div>
      </li>
      <li class="col slide-in from-right">
        <div>
          <time>Feb 2020</time>  Data set of Samosa, Poha, and Sabudana Khichadi was created and filtered.
        </div>
      </li>
      <li class="col slide-in from-left">
        <div>
          <time>March 2020</time>CNN was finalized after analyzing different Machine-learning classification algorithms.
        </div>
      </li>
      <li class="col slide-in from-right">
        <div>
          <time>April 2020</time> Created a Website to accept food images from the user and classify them.
        </div>
      </li>
      <li class="col slide-in from-left">
        <div>
          <time>May 2020</time>  Upgradation of the model to increase its accuracy and give finishing touch to the website.
        </div>
      </li>
      
      <li class="col slide-in from-right"></li>
       <li class="col slide-in from-left"></li>

    </ol>
  </div>
    
  </section>
</div>
</section>