<link rel="stylesheet" type="text/css" href="/stylesheets/timeline.css">
<script type="text/javascript">
</script>
<section id="timeline_chart" class="parallax-image section intro">
  <header>
        <div class="container">
            <nav> 
            <div>
                <h1 class="display-1 highlight fade-in">Timeline</h1>
            </div>
            </nav>           
        </div>    
    </header>

<div class="container-fluid">
  <section class="timeline">
    <div class="row">
    <ol>
      <li class="col">
        <div>
          <time>Jan 2020</time> Team proposal with the mentor and topic selection.
        </div>
      </li>
      <li class="col">
        <div>
          <time>Feb 2020</time>  Data set of samosa ,Poha, and Sabudana Khichadi was created and filtered.
        </div>
      </li>
      <li class="col">
        <div>
          <time>March 2020</time>  Different machine learning models were analyzed and we finalized CNN model.
        </div>
      </li>
      <li class="col">
        <div>
          <time>April 2020</time> Create a Website or App to accept the food images from the user and to classify the images.
        </div>
      </li>
      <li class="col">
        <div>
          <time>May 2020</time>  Upgradation of the model to increase its accuracy and give finishing touch to the app or website.
        </div>
      </li>
      
      <li class="col"></li>

    </ol>
  </div>
    
  </section>
</div>
</section>