/**,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

#timeline_chart{
  box-sizing:border-box;
  background: #272727;
  color: #fff;
}


/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section .container-fluid {
  text-align: center;
  /*margin:0px 1em 0px;*/
  /*margin*/
}



/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  /*overflow-x: hidden;*/
}

.timeline ol {
  /*font-size: 0;*/
  /*width: 30vw;*/
  margin-left:12%;
  margin-top:8%;
  padding:200px 0;
  /*transition: all 1s;*/
}

/*.timeline ol li div{
   border-radius: 100px;
}
*/
.timeline ol li{

  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 170px;
  height: 5px;
  background: #fff;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F45B69;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  border-radius: 20px 20px 20px 0px;
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  border-radius: 0px 20px 20px 20px;
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .disabled {
  opacity: .5;
}


/* GENERAL MEDIA QUERIES 1486px
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 1280px) {
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
  
  .timeline ol {

    padding: 0;
    transform: none !important;
  }
  
  .timeline ol li {

    margin:25px;
    display: block;
    height: auto;
    background: transparent;
  }
  
  .timeline ol li:first-child {
    /*margin-top: 25px;*/
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .timeline ol li div {
    width: 80%;
    height: auto !important; /*for mobile height */
    margin: 0 auto 25px;

  }
  
  /*WHAT DOES STATIC MEAN */
  .timeline ol li div {
    position: static;
  }
  


  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }
  
}